relic-defense.sublime-workspace
relic-defense.sublime-project
*.dmx
*.vmat
*.vtex
*.vcss
*.vjs
*.vxml
*.vmdl
*.vmesh
*.vphys
*.vmat_c
*.vtex_c
*.vcss_c
*.vjs_c
*.vxml_c
*.vmdl_c
*.vmesh_c
*.vphys_c
*.vpk
game/dota_addons/relic_defense/tools_asset_info.bin
game/dota_addons/relic_defense/tools_thumbnail_cache.bin
content/dota_addons/relic_defense/materials/overviews/spring_relic.tga
*.vmap