
Panel
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

Label
{
	text-overflow: ellipsis;
}

.roundPanel
{
	width: 10%;
	height: fit-children;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 45px;
	flow-children: down;
}

#upperContainer
{
	height: fit-children;
	margin: 10px;
	overflow: clip;
	flow-children: down;
	background-color: #222222FF;
	border: 2px solid #000000CC;
}

#roundDesc
{
}

#roundTiming
{
}

.upperBar
{
	height: 20px;
	margin: 2px;
}


#roundKillCount
{
	height: 32px;
	width: 95%;
	margin: 10px;
	margin-top: 0px;
	overflow: clip;
	background-color: #222222FF;
	border: 2px solid #000000CC;
}

#roundTitle
{
	font-size: 18px;
	font-family: "Goudy Trajan Medium";
	horizontal-align: middle;
	vertical-align: top;
	color: #EEEEEEFF;
	text-shadow: 0px 0px 2px 2.0 #666666CC;
}

#roundStatus
{
	font-size: 16px;
	font-family: "Courier";
	horizontal-align: left;
	vertical-align: bottom;
	color: #EEEEEEFF;
}

#roundTime
{
	font-size: 16px;
	font-family: "Courier";
	horizontal-align: right;
	vertical-align: bottom;
	color: #EEEEEEFF;
}

#roundKills
{
	font-size: 20px;
	font-family: "Courier";
	horizontal-align: center;
	vertical-align: center;
	color: #EEEEEEFF;
}
