@define borderColor: #999999FF;
@define genericTextColor: #FFFFFFFF;
@define goldTextColor: #E6A118FF;

.scoreboard
{
	width: 75%;
	horizontal-align: center;
	overflow: clip clip;
}

.top_bar
{
	width: 75%;
	horizontal-align: left;
    flow-children: right;
    overflow: squish clip;
}

.heroScore
{
	width: 156px;
	height: 66px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000CC ), to( #66666633 ) );
	margin-left: 30px;
	border: 3px solid borderColor;
	border-top: 0px solid borderColor;
	padding-top: 1px;
}

#HeroIcon
{
    width: 75px;
    height: 43px;
    border-bottom: 1px solid borderColor;
}

#goldScore
{
	horizontal-align: right;
	border-left: 1px solid borderColor;
	border-bottom: 1px solid borderColor;
	width: 74px;
	height: 43px;
	overflow: squish clip;
}

#goldScoreIcon
{
	width: 16px;
	height: 16px;
	horizontal-align: right;
	vertical-align: top;
	margin-right: 8px;
	margin-top: 4px;
}

#goldScoreText
{
	font-weight: bold;
	text-shadow: 2px 2px 8px 1.0 #33;
	font-size: 16px;
	color: goldTextColor;
	margin-top: 10px;
}

#creepScore
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 45px;
	height: 20px;
	overflow: squish clip;
}

#creepScoreText
{
}

#resurrScore
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 25px;
	height: 20px;
	overflow: squish clip;
}
#resurrScoreText
{
}

#damageScore
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-left: 46px;
	width: 73px;
	height: 20px;
	overflow: squish clip;
	border-left: 1px solid borderColor;
	border-right: 1px solid borderColor;
}

#damageScoreText
{
}

Label
{	horizontal-align: center;
	vertical-align: center;
    font-size: 12px;
    color: #FFFFFFFF;
}